@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    justify-content: center;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
    height: 65vh;
}

#search-container {
    margin-bottom: 20px;
}

#weather-info {
    display: flex;
    flex-wrap: wrap;
}

.weather-card {
    background-color: wheat;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    flex: 1 0 200px;
}

.weather-card h2 {
    margin-top: 0;
}


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-container {
    margin-bottom: 20px;
}

#city-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#weather-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.weather-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    flex: 1 0 200px;
}

.weather-card h2 {
    margin-top: 0;
}

#social-media-buttons {
    margin-top: 20px;
}

#social-media-buttons button {
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
